@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Cabin&family=DM+Sans&family=Fira+Sans&family=Manrope:wght@200&family=Montserrat:wght@400;600&family=Playfair+Display:wght@400;800&family=Poppins&family=Roboto:wght@100;300;400;700&display=swap');

.landingnav {
  position: -webkit-sticky
}

.landingnavlink,
.signin {
  text-transform: capitalize;
  font-family: DM Sans;
  font-style: normal;
  margin: 0;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-left: 20px;
  font-size: 14px;

}

.landingnavlink:hover,
.signin:hover {
  color: #ff0000 !important;
  font-weight: bold !important;
}

.landingnavlink1,
.signin1 {
  text-transform: capitalize;
  font-family: DM Sans;
  font-style: normal;
  margin: 0;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-left: 20px;
  font-size: 14px;

}

.landingnavlink1:hover,
.signin1:hover {
  color: #ff0000 !important;
  font-weight: bold !important;
}


.toolbar {
  flex-direction: row;
}

.carousel img {
  height: 100%
}

.carousel-caption {
  position: absolute;
  top: 30%;
}

.t-textbig1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 80px;
  color: white;
  padding-bottom: 10px;
  width: 70%;
  margin: auto;
}

.t-textbig, .t-textbig2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 80px;
  color: white;
  padding-bottom: 10px;
  width: 70%;
}

.t-textsmall1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: white;
  width: 70%;
  padding-bottom: 30px;
  margin: auto;

}

.t-textsmall {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: white;
  width: 70%;
  padding-bottom: 30px;

}

.business-header {
  color: white;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}


.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  font-family: 'DM Sans';
}

.content-title {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  width: 100%;
  text-align: center;

}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 60%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 60%;
  left: 50%;
  opacity: 1;
}


.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.hero-bg {
  background-image: url("./components/assets/cross-section.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 50vw rgba(22, 21, 22, 0.6);
}

.hero-bg2 {
  background-image: url("./components/assets/black_business_owners2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 50vw rgba(22, 21, 22, 0.6);
}

.footerstuff {
  max-width: 1270px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 0 0;
}

.navlogo {
  height: 60px;
  width: auto;
}

.footerlinks {
  display: flex;
  justify-content: space-around;
}

.footerlinks li {
  font-size: 16px;
  list-style: none;
  padding-top: 10px;

}

.footerlink {
  color: white;
  text-decoration: none;
}

.footerlink:hover {
  color: #ff0000;
}


.footerfinal {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
  border-top: 3px solid #fff;
}

.banner, .banner2 {
  display: grid;
  grid-template-columns: 50% 50%;

}



.bannerabout {
  padding-top: 100px;
  max-width: 900px;
  margin: auto;
}

.bannerimg1 {
  margin-top: 20px;
  max-width: 100%;
}

.bannertext {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bolder;
  font-size: 80px;
  line-height: 90px;
  color: #263238;
  padding-bottom: 10px;
  max-width: 500px;
}

.bannertextsmall {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.67);
  max-width: 450px;
  padding-bottom: 30px;
}

.readmoresmall {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.67);
  padding-bottom: 30px;
}


@media (max-width: 300px) {

  .bannertextsmall, .readmoresmall {
    font-size: 12px;
  }

  .bannerimg1 {
    display: none;
  }

  .bannertext {
    font-size: 45px;
  }
}

@media (max-width: 900px) {
  .landingnav {
    /* padding: 10px 0; */
    background: #feffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04),
      0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  }

  .toolbar {
    flex-direction: row-reverse;
  }

  .landingnavlink,
  .signin {
    margin-left: 0;
    align-items: center;
    justify-content: center;
    color: black;
  }

  .t-textbig1,
  .t-textbig {
    padding-top: 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    color: white;
    padding-bottom: 10px;
    width: 90%;
    text-align: center;
    margin: auto;
  }

  .t-textbig2 {
    padding-top: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    color: white;
    padding-bottom: 10px;
    width: 90%;
    text-align: center;
    margin: auto;
  }

  .t-textsmall1,
  .t-textsmall {
    font-size: 14px;
    line-height: 27px;
    width: 90%;
    margin: auto;
    padding-bottom: 60px;
    text-align: center;
  }

  .carousel img {
    height: 700px;
    width: 100%;
    object-fit: cover;
  }

  .footerstuff {
    margin: auto;
    display: block;
    padding-bottom: 55px;
  }

  .navlogo {
    height: 50px;
    width: auto;
    margin: auto;
  }

  .footerlinks {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 30px;
  }

  .footerfinal {
    display: block;
    text-align: center;
  }

  .bannerabout {
    padding-top: 50px;
  }

  .bannertextsmall, .readmoresmall {
    font-size: 20px;
    width: 80%;
    margin: auto;
    padding-bottom: 60px;
  }


  .bannertext {
    text-align: center;
    font-size: 45px;
    line-height: 60px;
    margin-right: auto;
  }


  .banner, .banner2 {
    justify-content: center;
  }

  .banner, .banner2 {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 1200px) {

  .footerlinks {
    width: 50%;
    margin: auto;
    justify-content: space-between;
  }

  .first {
    padding-left: 0;
    padding-top: 30px;
  }

  .second {
    padding-left: 0;
    padding-top: 30px;
  }

  .third {
    padding-left: 0;
    padding-top: 30px;
  }
}